
@{
    ViewBag.Title = "CustomerInfo";
    Layout = "~/Views/shared/_LayoutPage2.cshtml";
}
<script src="~/assets/site_js/Register.js"></script>
<link href="~/assets/css/templatemo-finance-business.css" rel="stylesheet" />
<script src="~/assets/site_js/Register.js"></script>

<!-- ***** Preloader Start ***** -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<style>
    label {
        margin-bottom: 0px !important;
    }

    .form-label {
        font-size: 14px;
        font-weight: bold;
    }

    .form-check-label {
        font-size: 14px;
        font-weight: bold;
    }

    .form-control {
        font-size: 12px;
    }

    .col-lg-6 {
        margin-top: 0px
    }

    input[type] {
        border-radius: 5px;
    }

    .form-check {
        margin-right: 0px;
    }

    .form-control-label {
        font-weight: bold;
    }

    .modal-dialog {
        margin-top: 80px;
    }
</style>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<div class="page-heading1 header-text">
    <div class="container">

    </div>
</div>


<div class="container-fluid" id="Cinfo">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="card p-4 mt-4">
                <div class="row g-3">
                    <div class="col-12 mb-2">
                        <h3 class="font-bold">Personal details...</h3>

                    </div>
                    <input type="hidden" value="0" id="customer_id" />
                    <div class="col-lg-6 col-md-12 ">
                        <div>
                            <label class="form-label" for="form3Examplev4">Full Name<span style="color:#ff0000">*</span></label>
                            <input type="text" id="cname" class="form-control form-control-lg shadow" placeholder="Enter Full Name" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 ">
                        <div>
                            <label class="form-label" for="form3Examplev4">Mobile Number<span style="color:#ff0000">*</span></label>
                            <input type="number" id="contact_number" class="form-control form-control-lg shadow" placeholder="Enter Mobile Number" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div>
                            <label class="form-label" for="form3Examplev4">E-mail Id<span style="color:#ff0000">*</span></label>

                            <input type="email" id="email" class="form-control form-control-lg shadow" placeholder="Enter your Email-Id" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div>
                            <label class="form-label" for="form3Examplev4">Monthly Income</label>

                            <input type="text" id="your_earning_per_month" class="form-control form-control-lg shadow" placeholder="Enter Monthly Income" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div>
                            <label class="form-label" for="form3Examplea2">Full Address</label>

                            <input type="text" id="full_address" class="form-control shadow form-control-lg" placeholder="Enter Full Address" />
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div>
                            <label class="form-label" for="form3Examplev5">Pin Code<span style="color:#ff0000">*</span></label>

                            <input type="number" id="pincode" placeholder="Enter your pin code" class="form-control shadow form-control-lg" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div>
                            <label class="form-label" for="form3Examplea2">City</label>

                            <input type="text" id="city" class="form-control shadow form-control-lg" placeholder="Enter your City" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div>
                            <label class="form-label" for="form3Examplev5">State</label>

                            <input type="text" id="state" class="form-control shadow form-control-lg" placeholder="Enter your state" />
                        </div>
                    </div>


                    <div class="col-lg-6 col-md-12">
                        <div>
                            <label class="form-label" for="form3Examplea2">Aadhaar Card<span style="color:#ff0000">*</span></label>

                            <input type="number" id="adhaar_card" placeholder="Enter your Aadhaar number" onKeyPress="if(this.value.length==12) return false;" class="form-control shadow form-control-lg" />
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12">
                        <div>
                            <label class="form-label" for="form3Examplea2">Pan Card<span style="color:#ff0000">*</span></label>

                            <input type="text" id="pan_card" placeholder="Enter your Pan card number" class="form-control shadow form-control-lg" />
                        </div>
                    </div>
                    <p id="msg" class="alert-danger"></p>
                    <div class="col-12 ">
                        <button type="button" class="btn btn-lg text-white mx-4" style="background: #A020F0" onclick="saveItem();" data-mdb-ripple-color="dark">Save</button>
                        @*<button class="btn btn-outline-light   shadow " style="background: #A020F0" type="submit" data-bs-toggle="modal" data-bs-target="#loaninfo">Add Loan</button>*@
                    </div>

                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 mt-5">
            @*<div class="col-lg-8 " style="position:relative;display:inline;">
                    <div>
                        <div id="content_area">
                        </div>

                    </div>

                </div>*@

            <div class="row my-4">
                <div class="col-md-3 col-4 mobile-small text-center " style="background-image: url('/assets/img/mobile-1.png'); background-repeat:no-repeat;padding-top:120px;padding-bottom:120px;background-size:100% 100%;">
                    <span class="fs-4 fs font-weight-bold"> Resolve/ Refinance Your debt</span><br />
                    <span class="fs-1">
                        <a class="btn  shadow font-weight-bold mt-2 text-white btn-lg" href="~/home/ItWorks" style="background-color: #A020F0;">Enter</a>
                    </span>
                </div>
                <div class="col-md-3 col-4 mobile-small text-center " style="background-image: url('/assets/img/mobile-1.png'); background-repeat: no-repeat; padding-top: 120px; padding-bottom: 120px; background-size: 100% 100%;">
                    <span class="fs-4 fs font-weight-bold"> Savings & Investment</span>
                    <span class="fs-1">
                        <button class="btn  shadow font-weight-bold mt-2 text-white btn-lg" style="background-color: #A020F0;margin-top:50px !important" data-bs-toggle="modal" data-bs-target="#invest">Enter</button>
                    </span>
                </div>
                <div class="col-md-3 col-4 mobile-small text-center " style="background-image: url('/assets/img/mobile-1.png'); background-repeat: no-repeat; padding-top: 120px; padding-bottom: 120px; background-size: 100% 100%;">
                    <span class="fs-4 fs  font-weight-bold"> Get Credit</span>
                    <span class="fs-1">
                        <button class="btn  shadow font-weight-bold mt-2 text-white btn-lg" style="background-color: #A020F0;margin-top:80px !important"  data-bs-toggle="modal" data-bs-target="#invest">Enter</button>
                    </span>
                </div>
            </div>
        </div>

    </div>
    @*<div class="modal" id="loaninfo" role="dialog">
            <div class="modal-dialog  modal-lg " role="document">
                <div class="modal-content ">
                    <div class="modal-header">
                        <h5 class="modal-title font-bold">Please Enter Loan Information</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>

                </div>
            </div>
        </div>*@
</div>

<div class="modal " id="invest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header text-center text-white font-weight-bold" style="background-color: #A020F0">

                <h5 class="modal-title" id="staticBackdropLabel">Savings & Investments</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">

                <img src="~/assets/img/comingsoon.gif" />
                <p class="fs-4 text-center text-black"> Watchout this space for more, launching soon....</p>
                <button class="btn  shadow font-weight-bold mt-2 text-white btn-lg" style="background-color: #A020F0;" data-bs-toggle="modal" data-bs-target="#">Join Now!<i class="fa fa-right-long" style="padding-left:10px"></i></button>

            </div>

        </div>

    </div>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		// set initially button state hidden
		$("#btn").hide();
		// use keyup event on email field
		$("#email").keyup(function(){
			if(validateEmail()){
				// if the email is validated
				// set input email border green
				$("#email").css("border","2px solid green");
				// and set label
				$("#emailMsg").html("<p class='text-success'>Validated</p>");
			}else{
				// if the email is not validated
				// set border red
				$("#email").css("border","2px solid red");
				$("#emailMsg").html("<p class='text-danger'>Un-validated</p>");
			}
			buttonState();
		});
		// use keyup event on password
		$("#pass").keyup(function(){
			// check
			if(validatePassword()){
				// set input password border green
				$("#pass").css("border","2px solid green");
				//set passMsg
				$("#passMsg").html("<p class='text-success'>Password validated</p>");
			}else{
					// set input password border red
				$("#pass").css("border","2px solid red");
				//set passMsg
				$("#passMsg").html("<p class='text-danger'>Password not valid</p>");
			}
			buttonState();
		});
	});

	function buttonState(){
		if(validateEmail() && validatePassword()){
			// if the both email and password are validate
			// then button should show visible
			$("#btn").show();
		}else{
			// if both email and pasword are not validated
			// button state should hidden
			$("#btn").hide();
		}
	}
	function validateEmail(){
		// get value of input email
		var email=$("#email").val();
		// use reular expression
		 var reg = /^\w+([-+.']\w+)*\w+([-.]\w+)*\.\w+([-.]\w+)*$/
		 if(reg.test(email)){
		 	return true;
		 }else{
		 	return false;
		 }

	}
	function validatePassword(){
		//get input password value
		var pass=$("#pass").val();
		// check it s length
		if(pass.length > 7){
			return true;
		}else{
			return false;
		}

	}
</script>